h1{
	color:red;
	font-family: Arial;
	font-size: 50px;
}
#index{
	background-color:yellow;
}
#service{
	background-color:lightblue;
}

a:link, a:visited, a:hover, a:active{
	color:hotpink;
}
footer{
	background-color:green;
}
ul {
	list-style-type:square;
}
dl{
	text-decoration:underline;
	font-weight:bold;
}
#nav{
	background-color:purple;
	top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    margin-top:50px;
    width:80%;
    height:100%;

}
.centernav{
	width:200px;
	border:1px solid red;
	margin-left:auto;
	margin-right:auto;
}
.positionfooter{
	position:absolute;
	left:100px;
	top:500px;
}
.listright{
	float:right;
	width:200px;
}
